{{ include('partials/head.twig')}}

<!-- First views -->
<div class="about-wrapper">
    <div class="about-background">
        <div class="container">
            <h1 class="about-background_logo logo">Découvrez <span>Pasolini</span></h1>
        </div>
    </div>

{{ include('partials/header.twig')}}

<section class="about about-quote container">
    <div>
        <p>
            <span>"</span>
            Tant que l’homme exploitera l’homme, tant que l’humanité sera divisée en maîtres et en esclaves, il n’y aura ni normalité ni paix. Voilà la raison de tout le mal de notre temps.
            <span>"</span>
        </p>
        <p class="about-quote_credits"><span class="about-quote_title">La Rage</span>, (1963)</p>
    </div>
</section>

<section class="about-civil-status container">
    <h2 class="home-work_logo logo">État civil <span>.</span></h2>
    <div class="about-civil-status_content">
        <p><span>Nationalité : </span>Italien</p>
        <p><span>Naissance : </span>5 mars 1922 à Bologne, Italie</p>
        <p><span>Décès : </span>2 novembre 1975, à l'âge de 53 ans à Ostie, Italie</p>
    </div>
</section>

<section class="about-biography container">
    <h2 class="home-work_logo logo">Biographie <span>.</span></h2>
    <div class="about-biography_content">
        <p>
            Diplômé en lettres à l'université de Bologne, Pier Paolo Pasolini se lance dans la poésie, crée plusieurs revues littéraires et exerce le métier d'instituteur dès 1949. Malheureusement, ses moeurs homosexuelles lui valent d'être répudié du corps enseignant et du parti communiste auquel il était adhérent jusque-là. Ses talents d'écriture sont très vite remarqués par l'intelligentsia italienne, et nombre de cinéastes font alors appel à lui comme scénariste, entre autres Mario Soldati pour La Fille du fleuve (1953) ou Fellini pour Les Nuits de Cabiria (1957).
        </p>
        <p>
            Passé à la réalisation, cet artiste réputé pour ses prises de position anarchistes et son côté contestataire signe au début des années 1960 deux oeuvres majeures : le poignant Accatone (1961) et Mamma Roma, lauréat du Prix de la critique internationale au Festival de Venise en 1962. Le thème de la religion revient souvent dans certains de ses films. Ainsi, La Ricotta (1963) raconte l'histoire d'un tournage mouvementé sur la vie du Christ où les figurants acceptent tous les caprices d'un metteur en scène loufoque (Orson Welles) en échange d'un peu de nourriture. Suivra dans le même registre L'Evangile selon Saint Matthieu, long métrage grâce auquel "Paso" remportera le Prix spécial du jury au Festival de Venise en 1964.
        </p>
        <p>
            Auteur de sketches pour les projets collectifs Les Sorcières (1966), Caprice à l'Italienne (1968) et Evangile 70 (1969), le cinéaste dramaturge s'essaie également au documentaire avec Enquête sur la sexualité (1964), La Contestation (1969) et Carnet de notes pour une Orestie africaine (1970). En 1967, il met en scène ce qu'il considère être son film le plus autobiographique : Oedipe roi. Ce mythe lui permet en effet d'aborder la relation particulière qu'il entretenait avec sa mère sous l'angle de la fiction. Il ira aussi chercher son inspiration dans la pièce Médée du poète grec Euripide pour en tirer un film qui constituera la seule expérience de la cantatrice grecque Maria Callas sur grand écran. Habitué au scandale et aux attaques en justice (pas moins de 160 !), Pasolini frappera fort en cette fin de décennie avec son sulfureux Théorème (1968) - l'histoire d'une famille bourgeoise ébranlée par l'arrivée d'un beau jeune homme campé par Terence Stamp - qui sera interdit en salles aux moins de 16 ans, notamment en France. 
        </p>
        <p>
            Au début des années 1970, le metteur en scène entreprend une démarche ambitieuse, une "Trilogie de la vie" constituée de trois volets assez grivois : Le Decameron (1971), adapté des contes de Boccace, Les Contes de Canterbury, grâce auquel il remporte l'Ours d'or du Meilleur réalisateur en 1972, et une visionnaire interprétation des contes des Mille et une nuits (1974). L'année suivante, Salo, sa dernière oeuvre inspirée des 120 journées de Sodome du marquis de Sade, ne manquera pas, elle aussi, de déchaîner les foudres de la censure. Alors qu'il travaillait à la préparation d'un projet intitulé "Porno-Teo-Kolossal" avec Eduardo De Filippo, "PPP" décède, sauvagement assassiné par un jeune prostitué de 17 ans. Son corps sera retrouvé poignardé dans un terrain vague d'Ostie, à proximité de Rome, à l'aube du 2 novembre 1975.
        </p>
    </div>
</section>

{{ include('partials/footer.twig')}}
