{{ include('partials/head.twig')}}
<div class="home-background">
<div class="container">
<h1 class="home-background_logo logo">Pier Paolo <span>Pasolini</span></h1>
</div>
</div>
{{ include('partials/header.twig')}}
<section>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sapiente enim ad. Soluta consequuntur quod porro quia repellat dolorem quo esse, aliquam, ratione, molestias velit expedita minus architecto consequatur ipsum.</p></section>
{{ include('partials/footer.twig')}}
