<header>
<div class="container">
<nav class="header-nav">
    <a href="{{ global.request.basepath }}" class="header-nav_logo logo">PP <span>P</span></a>
    <ul class="header-nav_menu">
        <li><a href="{{ global.request.basepath }}/filmographie" class="">Filmographie</a></li> 
        <li><a href="{{ global.request.basepath }}/article-1" class="">Romans & Essais</a></li> 
        <li><a href="{{ global.request.basepath }}/article-2" class="">À propos</a></li>
    </ul>
</nav>
</div>
</header>

