header{
    color: $primary-color;
    top: 0;
    width: 100%;

    a{
        color: $primary-color;

        &:hover{
            color: $primary-color;
        }
    }
}

.home-wrapper header, .about-wrapper header{
    position: absolute;
}

.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2% 0;
}

.header-nav_logo{
    font-size: 32px;
}

.header-nav_menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 40%;
    justify-content: space-between;
    font-family: "Open Sans Semibold";
}