@font-face{
  font-family: "Montserrat Extra-Bold";
  src: url("../../../../fonts/Montserrat-ExtraBold.otf");
}
@font-face{
  font-family: "Open Sans Regular";
  src: url("../../../../fonts/OpenSans-Regular.ttf");
}
@font-face{
  font-family: "Open Sans Semibold";
  src: url("../../../../fonts/OpenSans-Semibold.ttf");
}